.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (min-width: 1000px) {
	.containerSearchFilter {
		width: calc(100% - 16em);
		display: flex;
		justify-content: space-between;
		padding: 1em 5em;

		.search {
			width: 50%;
		}

		.filter {
			width: 30%;
		}
	}
}
